{
  "$schema": "settings.schema.json",
  "subsonic": {
    "domain": "https://my.domain/rest/",
    "user": "my_username",
    "password": "my_password"
  },
  "radio": [
    {
      "name": "channel name",
      "channelUrl": "https://my.domain",
      "schema": {}
    }
  ]
}
